<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
</div>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/gillybops">Gillian Newton</a> a web developer.  She is on a mission to give people a taste of sayings from the island of Jamaica, including their translations and authors if known.
  </p>
  <br />
  <p>
    She has interviewed numerous Jamaicans and requested that they add unique sayings to the Web app database through the Contribute entry form.
  </p>
  <p>
    To learn how to create a website like this one, you can do what Gillian did and get started at <a target="_blank" href="http://www.thefirehoseproject.com/">The Firehose Project</a>.  You will not regret your decision.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'GillianT.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Gillian Newton</h2>
      <br />
      <p>
        Gillian Newton is a web developer and user experience product manager. She is currently consulting for a liquor company in Tampa Florida on web design and user experience of their site. In an earlier life, she travelled around the world  in First Class as a perk of being an airline employee for five to six  years.
      </p>
    </div>
  </div>


</div>
  
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
